
body{
    background-image: linear-gradient(90deg,#6C1891,#D260C7);
}

.container{
    background-image: linear-gradient(135deg,rgba(255,255,255,0.4),rgba(255,255,255,0));
    width: 50%;
    margin: 100px auto;
    padding: 40px;
    border-radius: 5px;
} 
.btn{
    width: 100%;
}



